<nav class="container d-flex justify-between align-center my-16 my-md-12 ">
        <ul class="d-flex align-center">
            <li class="mr-48 mr-sm-0"><a href="index.html"><img class="logo" src="/assets/images/logo.svg" alt="logo"></a></li>
            <li class="d-sm-none mr-40"><a href="products.html" class="py-12 text-md">商品列表</a></li>
            <li class="d-sm-none mr-40"><a href="story.html" class="py-12 text-md">品牌故事</a></li>
        </ul>
        <i class="bi bi-person p-12"></i>
</nav>