.breadcrumb + .breadcrumb ::before{   /*元素之間才添加*/
	content: "/";
	padding: 0px 12px;
	color:$neutral-300;
	font-weight: 700;
}
.breadcrumb{
	font-weight: 500;
}
.breadcrumb-link{
	color:$neutral-600;
}
@media(max-width:767px){
	.breadcrumb + .breadcrumb ::before{
		content: "/";
		padding: 0px 8px;
		color:$neutral-300;
		font-weight: 700;
	}
	.breadcrumb{
		font-size: 14px;
		font-weight: 500;
}
}