.btn-header{
  width: 50%;
  padding: 12px 0;
  color: $neutral-900;
  font-size: 16px;
	line-height: 1.5;
	font-weight: 500;
  border: none;
}

.header-banner{
  background-image: url(/assets/images/banner.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: $neutral-0;
  padding: 400px 0;
  position: relative;
  &-text{
    position: absolute;
    left: calc(50% - 760px);
    top: 289px;
  }
}
@media(max-width:767px){
  .header-banner{
    background-image: url(/assets/images/banner-sm.png);
    padding: 240px 0;
    &-text{
      top: 0;
      bottom: 0;
      left: 24px;
      right: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
    }
  }
}
.arrival-text{
  text-align: center;
}


.product{
  position: relative;
  .product-text{
    position:absolute;
    top:0;
    left: 0;
    padding: 8px 12px;
    background-color: $primary-100;
    font-size: 14px;
    color:$primary-400;
  }
}
@media(max-width: 767px){
  .product-md-row{
    margin-right: -8px;
    margin-left: -8px;
  }
  .product-md-col{
    min-width:316px;
    padding-right: 8px;
    padding-left: 8px;
  }
}
.banner{
  text-align: center;
  background-image:url(/assets/images/banner-co-branded.png);
  padding: 100px 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  .star-img{
    position: absolute;
    width: 48px;
    top: 68px;
    left: calc(50% - 397px);
  }
  .sparkle-img{
    position: absolute;
    width: 76px;
    bottom: 132px;
    right:calc(50% - 357px);
  }
}

@media(max-width: 767px){
  .banner{
    padding: 64px 0;
    background-image: url(/assets/images/banner-co-branded-sm.png);
    overflow: hidden;
  
    .btn{
      padding: 12px 24px;
    }
    .star-img{
      top: 32px;
      left: -20px;
    
    }
    .sparkle-img{
      bottom: 104px;
      right: -28px;
    }
  }
}

.category{
  position: relative;

  .category-text{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(black, 0.4);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.inspiration-row{
  display: flex;
  flex-wrap: wrap;
  margin: -4px;
}
.inspiration-col-4{
  padding: 4px;
  width:calc(100%/ 12 * 4);
} 
.inspiration-col-6{
  padding: 4px;
  width:calc(100%/ 12 * 6);
}
.inspiration-col-12{
  padding: 4px;
  width:100%;
}
@media(max-width:767px){
  .inspiration-row{
    flex-wrap: nowrap;
    margin: 0 -8px;
    img{
      min-width: 300px;
    }
  }
  .inspiration-col-4,
  .inspiration-col-6,
  .inspiration-col-12{
    width: unset;
    padding: 0 8px;
  }
}