/*通用*/
.container{
    max-width: 1320px;
    margin: 0 auto;
	padding-left: 12px;
	padding-right: 12px;
}
.row{
	display: flex;
	flex-wrap: wrap;
	margin-right: -12px;
	margin-left: -12px;
}
.col-1{
	padding-left: 12px;
	padding-right: 12px;
	width: calc(100%/12);
}
.col-2{
	padding-left: 12px;
	padding-right: 12px;
	width: calc(100%/12 *2);
}
.col-3{
	padding-left: 12px;
	padding-right: 12px;
	width: calc(100%/12 *3);
}
.col-4{
	padding-left: 12px;
	padding-right: 12px;
	width: calc(100%/12 *4);
}
.col-5{
	padding-left: 12px;
	width: calc(100%/12 *5);
}
.col-6{
	padding-left: 12px;
	padding-right: 12px;
	width: calc(100%/12 *6);
}
.col-7{
	
	padding-right: 12px;
	width: calc(100%/12 *7);
}
.col-8{
	padding-left: 12px;
	padding-right: 12px;
	width: calc(100%/12 *8);
}
.col-9{
	padding-left: 12px;
	padding-right: 12px;
	width: calc(100%/12 *9);
}
.col-10{
	padding-left: 12px;
	padding-right: 12px;
	width: calc(100%/12 *10);
}
.col-11{
	padding-left: 12px;
	padding-right: 12px;
	width: calc(100%/12 *11);
}
.col-12{
	padding-left: 12px;
	padding-right: 12px;
	width: calc(100%/12 *12);
}
@media(max-width:767px){
	.row{
		margin-left: -6px;
		margin-right: -6px;
		.col-md-1{
		padding-left: 6px;
		padding-right: 6px;
		width:calc(100%/4);
		}
		.col-md-2{
		padding-left: 6px;
		padding-right: 6px;
		width: calc(100%/12 *6);
		}
		.col-md-3{
		padding-left: 6px;
		padding-right: 6px;
		width:calc(100% / 4 * 3);
		}
		.col-md-4{
		padding-left: 6px;
		padding-right: 6px;
		width:100%;
		}
	}
}
.d-flex{
    display: flex;
}
.justify-between{
	justify-content: space-between;
}
.justify-center{
	justify-content: center;
}
.align-center{
	align-items: center;
}
.flex-wrap{
	flex-wrap: wrap;
}
.d-none{
	display: none;
}
@media(max-width:767px){
	.d-md-block{
		display: block;
	}
	.d-md-flex{
		display: flex;
	}
	.d-md-none{
		display: none;
	}
	.flex-md-column{
		flex-direction: column;
	}
	.flex-md-nowrap{
		flex-wrap: nowrap;
	}
	.gap-md-4{
		gap: 4px;
	}
	.gap-md-8{
		gap: 8px;
	}
}
@media(max-width:767px){
	.over-flow-x-md-auto{
		overflow-x: auto;
	}
}
@media(max-width:576px){
	.d-sm-block{
		display: block;
	}
	.d-sm-flex-wrap{
		flex-wrap: wrap;
	}
	.d-sm-none{
		display: none;
	}
}


/*行高*/
.l-15{
    line-height: 1.5;
}
.l-12{
    line-height: 1.2;
}

/*文字*/
.display-1{
	font-size: 64px;
	line-height: 1.2;
	font-weight: 700;
}
.display-2{
	font-size: 48px;
	line-height: 1.2;
	font-weight: 700;
}
.h1{
    font-size: 40px;
    line-height: 1.2;
    font-weight: 700;
} 
.h2{
	font-size: 32px;
	line-height: 1.2;
	font-weight: 700;
}
.h3{
	font-size: 28px;
	line-height: 1.2;
	font-weight: 700;
}
.h4{
	font-size: 24px;
	line-height: 1.2;
	font-weight: 700;
}
.h5{
    font-size: 20px;
    line-height: 1.2;
    font-weight: 700;
}
.h6{
	font-size: 16px;
	line-height: 1.2;
	font-weight: 700;
}
@media(max-width:1090px){
	.h7-lg{
		font-size: 18px;
    	line-height: 1.2;
    	font-weight: 700;
	}
}
@media(max-width:767px){
	.display-md-2{
	font-size: 48px;
	line-height: 1.2;
	font-weight: 700;
	}
	.h2-md{
	font-size: 32px;
	line-height: 1.2;
	font-weight: 700;
	}
	.h3-md{
		font-size: 28px;
	}
	.h4-md{
		font-size: 24px;
	}
	.h5-md{
		font-size: 20px;
	}
	.h6-md{
		font-size: 16px;
	}
}
@media(max-width:576px){
	.h3-sm{
		font-size: 28px;
	}
	.h4-sm{
		font-size: 24px;
	}
	.h5-sm{
		font-size: 20px;
	}
	.h6-sm{
		font-size: 16px;
	}
}

.text-md{
	font-size: 16px;
	line-height: 1.5;
	font-weight: 500;
}
.text-sm{
	font-size: 14px;
}
.text-lg{
	font-size: 20px;
}
@media(max-width:767px){
	.text-md-md{
		font-size: 16px;
	}
}
.text-primary-300{
	color:$primary-300;
}
.text-primary-400{
	color:$primary-400;
}
.text-neutral-500{
	color:$neutral-500;
}
.text-neutral-600{
	color:$neutral-600;
}
.text-neutral-900{
    color:$neutral-900;
}
.text-white{
    color:$neutral-0;
}

/*間距*/
.py-8{
	padding-top: 8px;
	padding-bottom: 8px;
}
.p-10{
	padding: 10px;
}
.p-12{
	padding: 12px;
}
.p-32{
    padding: 32px;
}
.px-12{
	padding-right: 12px;
	padding-left: 12px;
}
.px-24{
	padding-right: 24px;
	padding-left: 24px;
}
.py-12{
	padding-top: 12px;
	padding-bottom: 12px;
}
.py-16{
    padding-top: 16px;
    padding-bottom: 16px;
}
.py-24{
	padding-top: 24px;
	padding-bottom: 24px;
}
.pt-32{
	padding-top: 32px;
}
.py-32{
	padding-top: 32px;
	padding-bottom: 32px;
}
.py-48{
	padding-top: 48px;
	padding-bottom: 48px;
}
.py-64{
	padding-top: 64px;
	padding-bottom: 64px;
}
.pr-8, .pe-8 {
	padding-right: 8px;
}
.pr-40{
    padding-right: 40px;
}
.pr-0{
	padding-right: 0px;
}
.pl-0{
	padding-left: 0px;
}
.pb-48{
    padding-bottom: 48px;
}
@media(max-width:767px){
	.p-md-0{
		padding: 0;
	}
	.px-md-12{
		padding-right: 12px;
		padding-left: 12px;
	}
	.py-md-12{
		padding-top: 12px;
		padding-bottom: 12px;
	}
	.py-md-16{
		padding-top: 16px;
		padding-bottom: 16px;
	}
	 .py-md-24{
        padding-top: 24px;
        padding-bottom: 24px;
    }
	.py-md-32{
		padding-top: 32px;
		padding-bottom: 32px;
	}
	.py-md-40{
		padding-top: 40px;
		padding-bottom: 40px;
	}
	 .pb-md-32{
        padding-bottom: 32px;
    }
}
@media(max-width:576px){
	.px-sm-12{
		padding-right: 12px;
		padding-left: 12px;
	}
	.py-sm-12{
		padding-top: 12px;
		padding-bottom: 12px;
	}
	.py-sm-32{
		padding-top: 32px;
		padding-bottom: 32px;
	}
}
.mr-8{
	margin-right: 8px
}
.mr-12{
	margin-right: 12px;
}
.mt-16{
	margin-top: 16px;
}
.my-16{
	margin-top: 16px;
	margin-bottom: 16px;
}
.my-48{
	margin-top: 48px;
	margin-bottom: 48px;
}
.mr-24, .me-24{
	margin-right: 24px;
}
.mr-48, .me-48{
    margin-right: 48px;
}
.mb-4{
	margin-bottom: 4px;
}
.mb-8{
	margin-bottom: 8px;
}
.mb-12{
	margin-bottom: 12px;
}
.mb-16{
	margin-bottom: 16px;
}
.mb-24{
	margin-bottom: 24px;
}
.mb-28{
	margin-bottom: 28px;
}
.mb-32{
	margin-bottom: 32px;
}
.mr-40, .me-40{
	margin-right: 40px;
}
.mb-40{
	margin-bottom: 40px;
}
.mb-48{
	margin-bottom: 48px;
}
.mb-64{
	margin-bottom: 64px;
}
@media(max-width:767px){
	.mb-md-0{
		margin-bottom: 0px;
	}
	.mb-md-8{
		margin-bottom: 8px;
	}
	.my-md-12{
		margin-top: 12px;
		margin-bottom: 12px;
	}
	.mb-md-12{
		margin-bottom: 12px;
	}
	.mb-md-16{
        margin-bottom: 16px;
    }
	.mb-md-24{
		margin-bottom: 24px;
	}
	.mb-md-32{
		margin-bottom: 32px;
	}
}
@media(max-width:576px){
	.my-sm-12{
		margin-top: 12px;
		margin-bottom: 12px;
	}
	.mr-sm-0, .me-sm-0{
		margin-right: 0;
	}
	.mr-sm-16, .me-sm-16{
		margin-right: 16px;
	}
	.mb-sm-12{
		margin-bottom: 12px;
	}
	.mb-sm-8{
		margin-bottom: 8px;
	}
	.mb-sm-4{
		margin-bottom: 4px;
	}
}

/*背景樣式*/
.bg-primary-300{
	background-color: $primary-300;
}
.bg-primary-200{
	background-color: $primary-200;
}
.bg-primary-100{
    background-color: $primary-100;
}
.bg-neutral-100{
    background-color: $neutral-100;
}