<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
  <div class="container">
    <main class="py-32 py-md-16 mb-48">
      <nav class="mb-24 mb-sm-12">
          <ol class="d-flex">
              <li class="breadcrumb"><a href="#" class="breadcrumb-link">首頁</a></li>
              <li class="breadcrumb"><a href="#" class="breadcrumb-link">女鞋</a></li>
              <li class="breadcrumb"><a href="#">所有商品</a></li>
          </ol>
      </nav>
      <h1 class="h3 h4-md mb-24 mb-md-12">女鞋</h1>
        <div class="row d-flex">
          <div class="col-2 d-md-none">
            <ul class="text-md ">
              <li class="mb-16"><a href="#" class="text-primary-400 py-8">所有商品</a></li>
              <li class="mb-16"><a href="#" class="py-8">慢跑鞋</a></li>
              <li class="mb-16"><a href="#" class="py-8">滑板鞋</a></li>
              <li class="mb-16"><a href="#" class="py-8">厚底鞋</a></li>
              <li><a href="#" class="py-8">限定 / 聯名企劃</a></li>
            </ul>
          </div>
          <div class="col-10 col-md-4">
            <div class="row d-flex flex-wrap mb-48 mb-md-32">
              <ul class="col-4 col-md-2 mb-48 mb-md-24">
                <li><a href="product.html"><img class="mb-12 mb-md-8" src="/assets/images/image.png" alt="PLATFORM 404"></a></li>
                <li><h2 class="h6 mb-4 mb-md-0">PLATFORM 404</h2></li>
                <li><p class="text-md">NT$2,600</p></li>
              </ul>
              <ul class="col-4 col-md-2 mb-48 mb-md-24">
                <li><a href="product.html"><img class="mb-12 mb-md-8" src="/assets/images//product-1.png" alt="PLATFORM 404"></a></li>
                <li><h2 class="h6 mb-4 mb-md-0">PLATFORM 404</h2></li>
                <li><p class="text-md">NT$2,600</p></li>
              </ul>
              <ul class="col-4 col-md-2 mb-48 mb-md-24">
                <li><a href="product.html"><img class="mb-12 mb-md-8" src="/assets/images//product-2.png" alt="VM001"></a></li>
                <li><h2 class="h6 mb-4 mb-md-0">VM001</h2></li>
                <li><p class="text-md">NT$2,600</p></li>
              </ul>
              <ul class="col-4 col-md-2 mb-48 mb-md-24">
                <li><a href="product.html"><img class="mb-12 mb-md-8" src="/assets/images//product-3.png" alt="Melty Kiss"></a></li>
                <li><h2 class="h6 mb-4 mb-md-0">Melty Kiss</h2></li>
                <li><p class="text-md">NT$4,000</p></li>
              </ul>
              <ul class="col-4 col-md-2 mb-48 mb-md-24">
                <li><a href="product.html"><img class="mb-12 mb-md-8" src="/assets/images//product-4.png" alt="BOOMBLOK"></a></li>
                <li><h2 class="h6 mb-4 mb-md-0">BOOMBLOK</h2></li>
                <li><p class="text-md">NT$3,200</p></li>
              </ul>
              <ul class="col-4 col-md-2 mb-48 mb-md-24">
                <li><a href="product.html"><img class="mb-12 mb-md-8" src="/assets/images//product-5.png" alt="BOOMBLOK"></a></li>
                <li><h2 class="h6 mb-4 mb-md-0">BOOMBLOK</h2></li>
                <li><p class="text-md">NT$3,200</p></li>
              </ul>
              <ul class="col-4 col-md-2 mb-48 mb-md-24">
                <li><a href="product.html"><img class="mb-12 mb-md-8" src="/assets/images//product-6.png" alt="R:UNER"></a></li>
                <li><h2 class="h6 mb-4 mb-md-0">R:UNER</h2></li>
                <li><p class="text-md">NT$4,000</p></li>
              </ul>
              <ul class="col-4 col-md-2 mb-48 mb-md-24">
                <li><a href="product.html"><img class="mb-12 mb-md-8" src="/assets/images//product-7.png" alt="Sugar Snap"></a></li>
                <li><h2 class="h6 mb-4 mb-md-0">Sugar Snap</h2></li>
                <li><p class="text-md">NT$4,000</p></li>
              </ul>
              <ul class="col-4 col-md-2 mb-48 mb-md-0">
                <li><a href="product.html"><img class="mb-12 mb-md-8" src="/assets/images//product-8.png" alt="Neofoam"></a></li>
                <li><h2 class="h6 mb-4 mb-md-0">Neofoam</h2></li>
                <li><p class="text-md">NT$4,000</p></li>
              </ul>
              <ul class="col-4 col-md-2 mb-48 mb-md-0 d-none d-md-block ">
                <li><a href="product.html"><img class="mb-12 mb-md-8" src="/assets/images//product-9.png" alt="Buttermood"></a></li>
                <li><h2 class="h6 mb-4 mb-md-0">Buttermood</h2></li>
                <li><p class="text-md">NT$4,000</p></li>
              </ul>
            </div>
            <ul class="d-flex justify-center align-center">
              <li class="mr-12">
                <button type="button" class="btn" disabled><i class="bi bi-chevron-compact-left"></i>
                </button>
              </li>
              <li class="mr-8 page-item">
                  <button type="button" class="btn active">1</i>
                  </button>
              </li>
              <li class="mr-8 page-item">
                  <button type="button" class="btn">2
                  </button>
              </li>
              <li class="mr-8 page-item">
                  <button type="button" class="btn">3
                  </button>
              </li>
              <li class="mr-8 page-item">
                  <button type="button" class="btn">...
                  </button>
              </li>
              <li class="mr-12 page-item">
                  <button type="button" class="btn">10
                  </button>
              </li>
              <li>
                  <button type="button" class="btn"><i class="bi bi-chevron-compact-right"></i>
                  </button>
              </li>
            </ul>
        </div>                  
      </div>
    </main>   
  </div>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
